USE [master]
GO
/****** Object:  Database [Lenco]    Script Date: 21/6/2021 13:11:22 ******/
CREATE DATABASE [Lenco]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lenco', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Lenco.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lenco_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Lenco_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lenco].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lenco]
GO
/****** Object:  Table [dbo].[Colores]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colores](
	[idColor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](25) NOT NULL,
 CONSTRAINT [Colores_pk] PRIMARY KEY CLUSTERED 
(
	[idColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[idCompra] [int] IDENTITY(1,1) NOT NULL,
	[num_comprobante] [int] NULL,
	[fecha_compra] [datetime] NOT NULL,
	[idProveedor] [int] NULL,
 CONSTRAINT [Compras_pk] PRIMARY KEY CLUSTERED 
(
	[idCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesCompra]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesCompra](
	[idDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NOT NULL,
	[precioUnit] [money] NULL,
	[cantidadUnit] [int] NOT NULL,
	[idCompra] [int] NOT NULL,
 CONSTRAINT [DetallesCompra_pk] PRIMARY KEY CLUSTERED 
(
	[idDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesDevolucion]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesDevolucion](
	[idDetalleDev] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[idDevolucion] [int] NOT NULL,
 CONSTRAINT [detallesDevolucion_pk] PRIMARY KEY CLUSTERED 
(
	[idDetalleDev] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesSalidas]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesSalidas](
	[idDetalleSalida] [int] IDENTITY(1,1) NOT NULL,
	[idTipoSalida] [int] NOT NULL,
	[idProducto] [int] NULL,
	[cantidad] [int] NULL,
	[idDevolucion] [int] NOT NULL,
	[monto] [money] NULL,
 CONSTRAINT [PK_DetallesSalidas] PRIMARY KEY CLUSTERED 
(
	[idDetalleSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesVenta]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesVenta](
	[idDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NOT NULL,
	[precioUnit] [money] NULL,
	[cantidadUnit] [int] NOT NULL,
	[idVenta] [int] NOT NULL,
 CONSTRAINT [DetallesVenta_pk] PRIMARY KEY CLUSTERED 
(
	[idDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devoluciones]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devoluciones](
	[idDevolucion] [int] NOT NULL,
	[fecha_devolucion] [datetime] NOT NULL,
	[descripcion] [varchar](250) NULL,
 CONSTRAINT [Devoluciones_pk] PRIMARY KEY CLUSTERED 
(
	[idDevolucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormasPago]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormasPago](
	[idFormaPago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[idInteres] [int] NULL,
 CONSTRAINT [FormasPago_pk] PRIMARY KEY CLUSTERED 
(
	[idFormaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Intereses]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intereses](
	[idInteres] [int] NOT NULL,
	[porcentaje] [int] NOT NULL,
 CONSTRAINT [PK_Intereses] PRIMARY KEY CLUSTERED 
(
	[idInteres] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventarios]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventarios](
	[inventarioID] [int] IDENTITY(1,1) NOT NULL,
	[idSucursal] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [Inventarios_pk] PRIMARY KEY CLUSTERED 
(
	[inventarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[idMarca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
 CONSTRAINT [Marcas_pk] PRIMARY KEY CLUSTERED 
(
	[idMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presentaciones]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presentaciones](
	[idPresentacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](15) NOT NULL,
 CONSTRAINT [Presentaciones_pk] PRIMARY KEY CLUSTERED 
(
	[idPresentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[codigoProv] [varchar](50) NOT NULL,
	[idMarca] [int] NOT NULL,
	[idRubro] [int] NOT NULL,
	[articulo] [int] NOT NULL,
	[idTalle] [int] NOT NULL,
	[idColor] [int] NOT NULL,
	[idPresentacion] [int] NOT NULL,
	[descripcion] [varchar](150) NOT NULL,
	[precioVenta] [money] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [Productos_pk] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[direccion] [varchar](200) NULL,
	[telefono] [varchar](100) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [Proveedores_pk] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](15) NOT NULL,
 CONSTRAINT [Roles_pk] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles_Usuarios]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles_Usuarios](
	[idRolUsuario] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idRol] [int] NOT NULL,
 CONSTRAINT [Roles_Usuarios_pk] PRIMARY KEY CLUSTERED 
(
	[idRolUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rubros]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rubros](
	[idRubro] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](25) NOT NULL,
 CONSTRAINT [Rubros_pk] PRIMARY KEY CLUSTERED 
(
	[idRubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[idSucursal] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[direccion] [varchar](200) NOT NULL,
	[telefono] [varchar](100) NOT NULL,
 CONSTRAINT [Sucursales_pk] PRIMARY KEY CLUSTERED 
(
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Talles]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Talles](
	[idTalle] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](4) NOT NULL,
 CONSTRAINT [Talles_pk] PRIMARY KEY CLUSTERED 
(
	[idTalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposSalida]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposSalida](
	[idTipoSalida] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TiposSalida] PRIMARY KEY CLUSTERED 
(
	[idTipoSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](15) NOT NULL,
	[password] [varchar](15) NOT NULL,
	[idRol] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [Usuarios_pk] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[fecha_venta] [datetime] NOT NULL,
	[idSucursal] [int] NULL,
	[montoDescuento] [money] NULL,
	[idFormaPago] [int] NOT NULL,
 CONSTRAINT [Ventas_pk] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Colores] ON 

INSERT [dbo].[Colores] ([idColor], [nombre]) VALUES (1, N'N/D')
INSERT [dbo].[Colores] ([idColor], [nombre]) VALUES (2, N'Blanco')
INSERT [dbo].[Colores] ([idColor], [nombre]) VALUES (3, N'Gris')
SET IDENTITY_INSERT [dbo].[Colores] OFF
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([idCompra], [num_comprobante], [fecha_compra], [idProveedor]) VALUES (20, 12345, CAST(N'2021-06-02T16:19:54.273' AS DateTime), 2)
INSERT [dbo].[Compras] ([idCompra], [num_comprobante], [fecha_compra], [idProveedor]) VALUES (21, 1111, CAST(N'2021-06-06T23:37:18.407' AS DateTime), 3)
INSERT [dbo].[Compras] ([idCompra], [num_comprobante], [fecha_compra], [idProveedor]) VALUES (22, 1234, CAST(N'2021-06-07T10:54:20.613' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[DetallesCompra] ON 

INSERT [dbo].[DetallesCompra] ([idDetalleCompra], [idProducto], [precioUnit], [cantidadUnit], [idCompra]) VALUES (24, 5, 450.0000, 15, 20)
INSERT [dbo].[DetallesCompra] ([idDetalleCompra], [idProducto], [precioUnit], [cantidadUnit], [idCompra]) VALUES (25, 5, 250.0000, 15, 21)
INSERT [dbo].[DetallesCompra] ([idDetalleCompra], [idProducto], [precioUnit], [cantidadUnit], [idCompra]) VALUES (26, 13, 145.9900, 5, 22)
SET IDENTITY_INSERT [dbo].[DetallesCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[DetallesVenta] ON 

INSERT [dbo].[DetallesVenta] ([idDetalleVenta], [idProducto], [precioUnit], [cantidadUnit], [idVenta]) VALUES (51, 13, NULL, 3, 40)
INSERT [dbo].[DetallesVenta] ([idDetalleVenta], [idProducto], [precioUnit], [cantidadUnit], [idVenta]) VALUES (52, 13, NULL, 3, 41)
INSERT [dbo].[DetallesVenta] ([idDetalleVenta], [idProducto], [precioUnit], [cantidadUnit], [idVenta]) VALUES (53, 13, NULL, 3, 42)
SET IDENTITY_INSERT [dbo].[DetallesVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[FormasPago] ON 

INSERT [dbo].[FormasPago] ([idFormaPago], [nombre], [idInteres]) VALUES (1, N'Efectivo', 1)
INSERT [dbo].[FormasPago] ([idFormaPago], [nombre], [idInteres]) VALUES (2, N'Tarjeta credito', 1)
INSERT [dbo].[FormasPago] ([idFormaPago], [nombre], [idInteres]) VALUES (3, N'Tarjeta credito', 2)
SET IDENTITY_INSERT [dbo].[FormasPago] OFF
GO
INSERT [dbo].[Intereses] ([idInteres], [porcentaje]) VALUES (1, 0)
INSERT [dbo].[Intereses] ([idInteres], [porcentaje]) VALUES (2, 10)
INSERT [dbo].[Intereses] ([idInteres], [porcentaje]) VALUES (3, 20)
GO
SET IDENTITY_INSERT [dbo].[Inventarios] ON 

INSERT [dbo].[Inventarios] ([inventarioID], [idSucursal], [idProducto], [cantidad]) VALUES (21, 3, 5, 4)
INSERT [dbo].[Inventarios] ([inventarioID], [idSucursal], [idProducto], [cantidad]) VALUES (22, 1, 5, 20)
INSERT [dbo].[Inventarios] ([inventarioID], [idSucursal], [idProducto], [cantidad]) VALUES (23, 2, 5, 18)
SET IDENTITY_INSERT [dbo].[Inventarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([idMarca], [nombre]) VALUES (1, N'Andressa')
INSERT [dbo].[Marcas] ([idMarca], [nombre]) VALUES (2, N'Apogeo')
INSERT [dbo].[Marcas] ([idMarca], [nombre]) VALUES (3, N'Aretha')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Presentaciones] ON 

INSERT [dbo].[Presentaciones] ([idPresentacion], [nombre]) VALUES (1, N'Individual')
INSERT [dbo].[Presentaciones] ([idPresentacion], [nombre]) VALUES (2, N'Pack')
SET IDENTITY_INSERT [dbo].[Presentaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([idProducto], [codigoProv], [idMarca], [idRubro], [articulo], [idTalle], [idColor], [idPresentacion], [descripcion], [precioVenta], [activo]) VALUES (1, N'119458', 10, 1, 1629, 1, 4, 1, N'Short Talle 1/2 Negro Individual', 1250.0000, 1)
INSERT [dbo].[Productos] ([idProducto], [codigoProv], [idMarca], [idRubro], [articulo], [idTalle], [idColor], [idPresentacion], [descripcion], [precioVenta], [activo]) VALUES (2, N'046278', 12, 2, 102, 18, 2, 1, N'Corpiño Talle 90 Blanco', 0.0000, 0)
INSERT [dbo].[Productos] ([idProducto], [codigoProv], [idMarca], [idRubro], [articulo], [idTalle], [idColor], [idPresentacion], [descripcion], [precioVenta], [activo]) VALUES (3, N'50840303', 10, 2, 5084, 18, 4, 1, N'Corpiño Talle 90 Negro', 1244.0000, 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([idProveedor], [nombre], [direccion], [telefono], [activo]) VALUES (2, N'Selu', NULL, NULL, 1)
INSERT [dbo].[Proveedores] ([idProveedor], [nombre], [direccion], [telefono], [activo]) VALUES (3, N'Peter Pan', NULL, NULL, 1)
INSERT [dbo].[Proveedores] ([idProveedor], [nombre], [direccion], [telefono], [activo]) VALUES (4, N'Perlea', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([idRol], [nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([idRol], [nombre]) VALUES (2, N'Moderador')
INSERT [dbo].[Roles] ([idRol], [nombre]) VALUES (3, N'Usuario')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Rubros] ON 

INSERT [dbo].[Rubros] ([idRubro], [nombre]) VALUES (1, N'Bombacha')
INSERT [dbo].[Rubros] ([idRubro], [nombre]) VALUES (2, N'Corpiño')
INSERT [dbo].[Rubros] ([idRubro], [nombre]) VALUES (3, N'Conjunto')
SET IDENTITY_INSERT [dbo].[Rubros] OFF
GO
SET IDENTITY_INSERT [dbo].[Sucursales] ON 

INSERT [dbo].[Sucursales] ([idSucursal], [nombre], [direccion], [telefono]) VALUES (1, N'Nana 1', N'24 de Septiembre 1331', N'4860820')
INSERT [dbo].[Sucursales] ([idSucursal], [nombre], [direccion], [telefono]) VALUES (2, N'Nana 2', N'Altolaguirre 2123', N'4533078')
INSERT [dbo].[Sucursales] ([idSucursal], [nombre], [direccion], [telefono]) VALUES (3, N'Deposito', N'Araoz de lamadrid 365', N'8827751')
SET IDENTITY_INSERT [dbo].[Sucursales] OFF
GO
SET IDENTITY_INSERT [dbo].[Talles] ON 

INSERT [dbo].[Talles] ([idTalle], [nombre]) VALUES (1, N'1')
INSERT [dbo].[Talles] ([idTalle], [nombre]) VALUES (2, N'2')
INSERT [dbo].[Talles] ([idTalle], [nombre]) VALUES (3, N'3')
SET IDENTITY_INSERT [dbo].[Talles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuario], [usuario], [password], [idRol], [activo]) VALUES (1, N'sergio', N'Unidad', 1, 1)
INSERT [dbo].[Usuarios] ([idUsuario], [usuario], [password], [idRol], [activo]) VALUES (2, N'franco', N'1234', 2, 1)
INSERT [dbo].[Usuarios] ([idUsuario], [usuario], [password], [idRol], [activo]) VALUES (3, N'g_nana24', N'negocio24', 3, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([idVenta], [fecha_venta], [idSucursal], [montoDescuento], [idFormaPago]) VALUES (40, CAST(N'2021-06-15T00:00:00.000' AS DateTime), 3, 0.0000, 1)
INSERT [dbo].[Ventas] ([idVenta], [fecha_venta], [idSucursal], [montoDescuento], [idFormaPago]) VALUES (41, CAST(N'2021-06-15T12:05:52.087' AS DateTime), 3, 0.0000, 1)
INSERT [dbo].[Ventas] ([idVenta], [fecha_venta], [idSucursal], [montoDescuento], [idFormaPago]) VALUES (42, CAST(N'2021-06-15T12:14:45.903' AS DateTime), 3, 0.0000, 1)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [Compras_Proveedores] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedores] ([idProveedor])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [Compras_Proveedores]
GO
ALTER TABLE [dbo].[DetallesCompra]  WITH CHECK ADD  CONSTRAINT [DetallesCompra_Compras] FOREIGN KEY([idCompra])
REFERENCES [dbo].[Compras] ([idCompra])
GO
ALTER TABLE [dbo].[DetallesCompra] CHECK CONSTRAINT [DetallesCompra_Compras]
GO
ALTER TABLE [dbo].[DetallesCompra]  WITH CHECK ADD  CONSTRAINT [DetallesCompra_Productos] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Productos] ([idProducto])
GO
ALTER TABLE [dbo].[DetallesCompra] CHECK CONSTRAINT [DetallesCompra_Productos]
GO
ALTER TABLE [dbo].[DetallesDevolucion]  WITH CHECK ADD  CONSTRAINT [detallesDevolucion_Devoluciones] FOREIGN KEY([idDevolucion])
REFERENCES [dbo].[Devoluciones] ([idDevolucion])
GO
ALTER TABLE [dbo].[DetallesDevolucion] CHECK CONSTRAINT [detallesDevolucion_Devoluciones]
GO
ALTER TABLE [dbo].[DetallesDevolucion]  WITH CHECK ADD  CONSTRAINT [detallesDevolucion2_Productos] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Productos] ([idProducto])
GO
ALTER TABLE [dbo].[DetallesDevolucion] CHECK CONSTRAINT [detallesDevolucion2_Productos]
GO
ALTER TABLE [dbo].[DetallesSalidas]  WITH CHECK ADD  CONSTRAINT [FK_DetallesSalidas_Devoluciones] FOREIGN KEY([idDevolucion])
REFERENCES [dbo].[Devoluciones] ([idDevolucion])
GO
ALTER TABLE [dbo].[DetallesSalidas] CHECK CONSTRAINT [FK_DetallesSalidas_Devoluciones]
GO
ALTER TABLE [dbo].[DetallesSalidas]  WITH CHECK ADD  CONSTRAINT [FK_DetallesSalidas_TiposSalida] FOREIGN KEY([idTipoSalida])
REFERENCES [dbo].[TiposSalida] ([idTipoSalida])
GO
ALTER TABLE [dbo].[DetallesSalidas] CHECK CONSTRAINT [FK_DetallesSalidas_TiposSalida]
GO
ALTER TABLE [dbo].[DetallesVenta]  WITH CHECK ADD  CONSTRAINT [DetallesVenta_Productos] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Productos] ([idProducto])
GO
ALTER TABLE [dbo].[DetallesVenta] CHECK CONSTRAINT [DetallesVenta_Productos]
GO
ALTER TABLE [dbo].[DetallesVenta]  WITH CHECK ADD  CONSTRAINT [DetallesVenta_Ventas] FOREIGN KEY([idVenta])
REFERENCES [dbo].[Ventas] ([idVenta])
GO
ALTER TABLE [dbo].[DetallesVenta] CHECK CONSTRAINT [DetallesVenta_Ventas]
GO
ALTER TABLE [dbo].[FormasPago]  WITH CHECK ADD  CONSTRAINT [FK_FormasPago_Intereses] FOREIGN KEY([idInteres])
REFERENCES [dbo].[Intereses] ([idInteres])
GO
ALTER TABLE [dbo].[FormasPago] CHECK CONSTRAINT [FK_FormasPago_Intereses]
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD  CONSTRAINT [Inventarios_Productos] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Productos] ([idProducto])
GO
ALTER TABLE [dbo].[Inventarios] CHECK CONSTRAINT [Inventarios_Productos]
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD  CONSTRAINT [Inventarios_Sucursales] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[Sucursales] ([idSucursal])
GO
ALTER TABLE [dbo].[Inventarios] CHECK CONSTRAINT [Inventarios_Sucursales]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [Productos_Colores] FOREIGN KEY([idColor])
REFERENCES [dbo].[Colores] ([idColor])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [Productos_Colores]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [Productos_Marcas] FOREIGN KEY([idMarca])
REFERENCES [dbo].[Marcas] ([idMarca])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [Productos_Marcas]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [Productos_Presentaciones] FOREIGN KEY([idPresentacion])
REFERENCES [dbo].[Presentaciones] ([idPresentacion])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [Productos_Presentaciones]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [Productos_Rubros] FOREIGN KEY([idRubro])
REFERENCES [dbo].[Rubros] ([idRubro])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [Productos_Rubros]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [Productos_Talles] FOREIGN KEY([idTalle])
REFERENCES [dbo].[Talles] ([idTalle])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [Productos_Talles]
GO
ALTER TABLE [dbo].[Roles_Usuarios]  WITH CHECK ADD  CONSTRAINT [Roles_Usuarios_Roles] FOREIGN KEY([idRol])
REFERENCES [dbo].[Roles] ([idRol])
GO
ALTER TABLE [dbo].[Roles_Usuarios] CHECK CONSTRAINT [Roles_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Roles_Usuarios]  WITH CHECK ADD  CONSTRAINT [Roles_Usuarios_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Roles_Usuarios] CHECK CONSTRAINT [Roles_Usuarios_Usuarios]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_FormasPago] FOREIGN KEY([idFormaPago])
REFERENCES [dbo].[FormasPago] ([idFormaPago])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_FormasPago]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [Ventas_Sucursales] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[Sucursales] ([idSucursal])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [Ventas_Sucursales]
GO
/****** Object:  StoredProcedure [dbo].[AllProducts]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AllProducts]
AS
BEGIN
SELECT p.idProducto 'ID', p.codigoProv 'Cod Producto', r.idRubro 'Rubro', m.nombre 'MarcaID', p.articulo 'Articulo', t.idTalle 'Talle', pr.nombre 'Presentacion', c.idColor 'Color', p.descripcion 'Descripcion', CAST((p.precioVenta) AS decimal(7,2)) 'Precio', inv.cantidad 'Stock', suc.nombre 'Negocio'
FROM Productos p 
JOIN Marcas m ON p.idMarca = m.idMarca 
JOIN Presentaciones pr ON p.idPresentacion = pr.idPresentacion
JOIN Talles t ON p.idTalle = t.idTalle
JOIN Colores c ON p.idColor = c.idColor
JOIN Rubros r ON p.idRubro = r.idRubro
LEFT JOIN Inventarios inv ON p.idProducto = inv.idProducto
LEFT JOIN Sucursales suc ON inv.idSucursal = suc.idSucursal
WHERE p.activo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarDetalleVenta]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertarDetalleVenta]
@idProducto int,
@cantidad int,
@idVenta int
AS
BEGIN
	INSERT INTO DetallesVenta VALUES (@idProducto,@cantidad,@idVenta)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarVenta]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertarVenta]
@fechaVenta datetime,
@idSucursal int,
@montoDescuento money,
@idFormaPago int
AS
BEGIN
	INSERT INTO Ventas VALUES (@fechaVenta,@idSucursal,@montoDescuento,@idFormaPago)
END
GO
/****** Object:  StoredProcedure [dbo].[stockPorSucursal]    Script Date: 21/6/2021 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[stockPorSucursal]
@idProducto int,
@idSucursal int
AS
BEGIN
SELECT inv.cantidad 'Stock'
FROM Productos p 
RIGHT JOIN Inventarios inv ON p.idProducto = inv.idProducto
RIGHT JOIN Sucursales s ON inv.idSucursal = s.idSucursal
WHERE p.idProducto = @idProducto and s.idSucursal = @idSucursal
END
GO
USE [master]
GO
